<!DOCTYPE html>
<html>
<head>
<title>包材表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link href="../../css/datetime/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/datetime/moment-with-locales.js"></script>
<script src="../../js/datetime/bootstrap-datetimepicker.min.js"></script>
<script src="../../js/datetime/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2" style="width:200px">
				<input id="transpotNo" type="text" class="form-control" v-model="billPackingMaterials.transpotNo" @keyup.enter="query" placeholder="运输单号">
			</div>
			<div class="form-group col-sm-2" style="width:200px">
				<input id="transpotSupplier" type="text" class="form-control" v-model="billPackingMaterials.transpotSupplier" @keyup.enter="query" placeholder="运输供应商">
			</div>
			<div class="form-group col-sm-2" style="width:200px">
				<input id="status" type="text" class="form-control" v-model="billPackingMaterials.status" @keyup.enter="query" placeholder="状态">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a class="btn btn-default" @click="reset">重置</a>
			<a class="btn btn-default" @click="excelExport">导出</a>
			<a v-if="hasPermission('bill:billpackingmaterials:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('bill:billpackingmaterials:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('bill:billpackingmaterials:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">序号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.serialNo" placeholder="序号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">地点</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.address" placeholder="地点"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运输供应商</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.transpotSupplier" placeholder="运输供应商"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运费类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.freightType" placeholder="运费类型"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运输单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.transpotNo" placeholder="运输单号"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">日期</div>
				<a class='input-group date' style="float: left;">
					<input type='text' id='datetimepicker1' v-model="billPackingMaterials.date" class="form-control" style="width: 150px; height: 30px;"/>
					<span class="input-group-addon" style="width: 50px; height: 30px;">
						<span class="glyphicon glyphicon-calendar"></span>
					 </span>
				</a>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">起点</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.lineStart" placeholder="起点"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">线路终点</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.lineEnd" placeholder="线路终点"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运输产品</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.transpotProduct" placeholder="运输产品"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运输方式</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.transpotMode" placeholder="运输方式"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">车型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.motorcycleType" placeholder="车型"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运输单价(含税保险)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.transpotPrice" placeholder="运输单价(含税保险)"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">纸箱</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.carton" placeholder="纸箱"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">1#泡棉</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.foamOne" placeholder="1#泡棉"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">2#泡棉</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.foamTwo" placeholder="2#泡棉"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">3#泡棉</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.foamThree" placeholder="3#泡棉"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">4#泡棉</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.foamFour" placeholder="4#泡棉"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">纸角撑</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.paperBrace" placeholder="纸角撑"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">数量</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.quantity" placeholder="数量"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">总体积</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.voluneSum" placeholder="总体积"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">总重量</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.weightSum" placeholder="总重量"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">提送运费</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.deliveryFee" placeholder="提送运费"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预提运费合计（含税10%）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.advanceFeeIncludeTax" placeholder="预提运费合计（含税10%）"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预提运费合计（不含税）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.advanceFeeNoTax" placeholder="预提运费合计（不含税）"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.status" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.comment" placeholder="备注"/>
			    </div>
			</div>
									<!--<div class="form-group">
			   	<div class="col-sm-2 control-label">预留字段1</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.reserveOne" placeholder="预留字段1"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预留字段2</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.reserveTwo" placeholder="预留字段2"/>
			    </div>
			</div>-->
									<!--<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.createAt" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.createBy" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.updateAt" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.updateBy" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="billPackingMaterials.isDelete" placeholder=""/>
			    </div>
			</div>-->
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/bill/billpackingmaterials.js"></script>
</body>
</html>